In [21]:
import requests
from bs4 import BeautifulSoup
import random
import pandas as pd

In [22]:
url = "https://openlibrary.org/trending/forever"
response =requests.get(url)
html_con = response.text
soup = BeautifulSoup(html_con, 'html.parser')

In [243]:
uls = soup.find_all("h3",{"class":"booktitle"})
Books ={"Book":[]}
for a in uls:
    Book = a.get_text()
    Book = Book.strip()
    Books["Book"].append(Book)

In [244]:
auths = soup.find_all("span",{"class":"bookauthor"})
Authors = {"Author":[]}
for a in auths:
    auth = a.get_text()
    auth = auth.strip()
    result = auth.split("by")
    just_auth = result[1]
    Authors["Author"].append(just_auth)

In [246]:
year = soup.find_all("span",{"class":"resultDetails"})
years = {"Year":[]}
for a in year:
    year = a.get_text()
    year = year.strip()
    result = year.split()
    just_year = result[3]
    just_year = int(just_year)
    years["Year"].append(just_year)

In [248]:
log = soup.find_all("div", {"class":"details"})
logs ={"Logs":[]}
for a in log:
    log = a.get_text()
    log = log.strip()
    result = log.split("Logged")
    result = result[1].split("times")
    result = result[0]
    result = int(result)
    logs["Logs"].append(result)

In [249]:
df = pd.DataFrame(Books)

In [250]:
df2 = pd.DataFrame(Authors)

In [251]:
df3 = pd.DataFrame(years)

In [252]:
df4 = pd.DataFrame(logs)

In [253]:
df4.head()

    Logs
0  41180
1  40566
2  34986
3  30182
4  23272

In [254]:
All = pd.merge(df, df2, left_index=True, right_index=True)

In [255]:
All = pd.merge(All, df3, left_index=True, right_index=True)

In [256]:
All = pd.merge(All, df4, left_index=True, right_index=True)

In [257]:
All.head()

,Book,Author,Year,Logs
0,Atomic Habits,James Clear,2016,41180
1,It Ends With Us,Colleen Hoover,2012,40566
2,The 48 Laws of Power,Robert Greene and Joost Elffers,1998,34986
3,The Subtle Art of Not Giving a F*ck,Mark Manson,2016,30182
4,Um casamento arranjado,Zana Kheiron,2019,23272