In [21]:
import requests
from bs4 import BeautifulSoup
import random
import pandas as pd

In [22]:
url = "https://openlibrary.org/trending/forever"
response =requests.get(url)
html_con = response.text
soup = BeautifulSoup(html_con, 'html.parser')

In [183]:
uls = soup.find_all("h3",{"class":"booktitle"})
Books = []
for a in uls:
    Book = a.get_text()
    Book = Book.strip()
    Books.append(Book)

In [155]:
auths = soup.find_all("span",{"class":"bookauthor"})
Authors = []
for a in auths:
    auth = a.get_text()
    auth = auth.strip()
    result = auth.split("by")
    just_auth = result[1]
    Authors.append(just_auth)

In [156]:
year = soup.find_all("span",{"class":"resultDetails"})
years = []
for a in year:
    year = a.get_text()
    year = year.strip()
    result = year.split()
    just_year = result[3]
    just_year = int(just_year)
    years.append(just_year)

In [157]:
log = soup.find_all("div", {"class":"details"})
logs = []
for a in log:
    log = a.get_text()
    log = log.strip()
    result = log.split("Logged")
    result = result[1].split("times")
    result = result[0]
    result = int(result)
    logs.append(result)

In [187]:
df = pd.DataFrame(Books)

In [188]:
df2 = pd.DataFrame(Authors)

In [189]:
df3 = pd.DataFrame(years)

In [190]:
df4 = pd.DataFrame(logs)

In [191]:
All = pd.merge(df, df2, df3, df4, how='cross')

TypeError: merge() got multiple values for argument 'how'

In [229]:
All = pd.merge(df, df2, left_index=True, right_index=True)

TypeError: merge() got an unexpected keyword argument 'suffix'

In [227]:
All = pd.merge(All, df3, left_index=True, right_index=True)

In [228]:
All = pd.merge(All, df4, left_index=True, right_index=True)

C:\Users\mmooreii\AppData\Local\Temp\ipykernel_13556\922351439.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'0_x'} in the result is deprecated and will raise a MergeError in a future version.
  All = pd.merge(All, df4, left_index=True, right_index=True)

In [230]:
All.head()

,0_x,0_y,0_x,0_y
0,Atomic Habits,James Clear,2016,41180
1,It Ends With Us,Colleen Hoover,2012,40566
2,The 48 Laws of Power,Robert Greene and Joost Elffers,1998,34986
3,The Subtle Art of Not Giving a F*ck,Mark Manson,2016,30182
4,Um casamento arranjado,Zana Kheiron,2019,23272

In [233]:
All.columns[0] = "Book"

TypeError: Index does not support mutable operations