In [6]:
import pandas as pd
data = pd.read_csv('titanic.csv')
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [8]:
data.loc[527]

PassengerId                   528
Survived                        0
Pclass                          1
Name           Farthing, Mr. John
Sex                          male
Age                           NaN
SibSp                           0
Parch                           0
Ticket                   PC 17483
Fare                     221.7792
Cabin                         C95
Embarked                        S
Name: 527, dtype: object

In [9]:
data.at[5, 'Age'] = 28

In [10]:
count = 0
for person in data["Age"]:
    if person > 18:
        count = count + 1
count

576

In [11]:
count = 0
for person in data["Sex"]:
    if person == "male":
        count = count + 1
    
count = (count / len(data)) * 100
count

64.75869809203144

In [12]:
first = 0
second = 0
third = 0
for person in data["Pclass"]:
    if person == 1:
        first += 1
    if person == 2:
        second += 1
    if person == 3:
        third += 1
        
print("First class:", first)
print("Second class:", second)
print("Third class:", third)

First class: 216
Second class: 184
Third class: 491

In [13]:
classes = {"Class":[], "Frequency":[]}
countFirst = 0
countSecond = 0
countThird = 0
for person in data["Pclass"]:
    if person == 1:
        countFirst += 1
    if person == 2:
        countSecond += 1
    if person == 3:
        countThird += 1
classes[]

SyntaxError: invalid syntax (808743299.py, line 12)

In [14]:
data[data['PassengerId'] == 528]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
527,528,0,1,"Farthing, Mr. John",male,NaN,0,0,PC 17483,221.7792,C95,S

In [16]:
idx = 0
for person in data["Name"]:
    if "Fannie" in person:
        break
    idx += 1
data.loc[idx]

PassengerId                              707
Survived                                   1
Pclass                                     2
Name           Kelly, Mrs. Florence "Fannie"
Sex                                   female
Age                                     45.0
SibSp                                      0
Parch                                      0
Ticket                                223596
Fare                                    13.5
Cabin                                    NaN
Embarked                                   S
Name: 706, dtype: object